<p><%= link_to "アカウントを編集する", edit_registration_path(current_user) %></p>
<p><%= link_to "外部サービス連携", "/settings/integration" %></p>
<p><%= link_to "アカウントを削除する", "/settings/delete" %></p>
<p><%= link_to "ダッシュボード", dashboard_path(current_user) %></p>
