<table class="follow">
<tr>
  <td class="follow_count">フォロー</td>
  <td>&nbsp;&nbsp;</td>
  <td class="follow_count">フォロワー</td>
</tr>
<tr>
  <td class="follow_count">
    <a href="<%= following_user_path(@user) %>">
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
    </a>
  </td>
  <td>&nbsp;&nbsp;</td>
  <td class="follow_count">
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
    </a>
  </td>
</tr>
</table>
