<% @user ||= current_user %>
<div id='sidebar_user'>
  <ul class="user_follow_box">
    <li class="user_follow_box_item">
      <p>
        &nbsp;&nbsp;フォロー
      </p>
    </li>
    <li class="user_follow_box_item">
      <p>
        フォロワー
      </p>
    </li>
  </ul>
</div>
<div id='sidebar_user'>
  <ul class="user_follow_box">
    <li class="user_follow_box_item">
      <p>
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>
        </a>
      </p>
    </li>
    <li class="user_follow_box_item">
      <p>
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
        </a>
      </p>
    </li>
  </ul>
</div>
