<div id="user_setting_main">
  <strong>アカウントの削除</strong>
  <p class="delete_description">アカウントを削除すると、二度ともとに戻すことはできません。ご注意ください。</p>
  <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "delete_account" %></p>
</div>
