<table class="user_setting_table">
  <tr>
    <td valign="top" class="user_setting_sidebar">
      <div id="user_setting_sidebar">
        <%= render :partial => 'devise/registrations/links' %>
      </div>
    </td>
    <td class="gap">
    </td>
    <td valign="top" class="user_setting_main">
      <% if request.url == "http://localhost:3000/settings/integration"%>
      <%= render 'omniauth' %>
      <% elsif request.url == "http://localhost:3000/settings/delete"%>
      <%= render 'delete' %>
      <% end %>
    </td>
  </tr>
</table>
