// Place all the styles related to the ArticleMemos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box{
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

input.article_memo_body {
  width: 80%;
  height: 300px;
}

div#parent_article_table {
  @include box;
}

table.parent_article_table a {
  color: #333;
  font-size: 15px;
}

td.parent_article_user_main_element {
  display: inline-block;
}

td.parent_article_user_picture {
  width: 10px
}

p.parent_article_user {
  margin-top: 3px;
  padding: 0 5px;
  text-align: center;
  font-size: 18px;
}

p.parent_article_user img {
  width: 20px;
  border-radius: 50%;
  border: solid 2px #ccc;
  margin-top: 2px;
}

p.link_icon img {
  width: 15px;
  margin-top: 10px;
}

div#article_memo_form_title {
  text-align: center;
  margin-top: 10px;
}

input.memo_search_form {
  width: 400px;
  height: 35px;
  outline: none;
  padding-left: 10px;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  border: solid 1px #ccc;
}

input.memo_search_form:focus {
  border: solid 1px #FFC107;
}
