@mixin button_mobile {
  width: 100%;
  border-radius: 0px;
  box-shadow: none;
}

@mixin box{
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  border-radius: 5px;
  background-color: #fff;
}

@media (min-width: 768px) {
  table.eval_mobile {
    display: none;
  }

  div#article_memos {
    display: none;
  }

  div#user_info_mobile {
    display: none;
  }

  div#hot_article_1 {
    display: none;
  }

  div#hot_article_2 {
    display: none;
  }
}

@media (max-width: 768px) {

/*記事詳細*/

  table.article_show_table {
    width: 100%;
    margin-top: -20px;
    font-size: 15px;
    border-spacing: 0;
  }

  td.article_show_right {
    display: none;
  }

  td.article_show_left {
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
  }

  div#sign_up_form {
  }

  div#article_show_left{
    margin-right: 0px;
  }

  div#article_left_buttons {
    top: 0;
    padding-top: 0px;
    width: 100%;
  }

  p.eval_none {
    display: none;
  }

  .eval_mobile {
    display: table-cell;
    position: relative;
    bottom: -34px;
    width: 3%;
  }

  .article_list_tag {
    font-size: 11px;
    }

  .special_tag {
    font-size: 11px;
    }

  td.article_show_center {
    width: 100%;
    box-shadow: none;
  }

  p.hot_articles_picture img {
    height: 150px;
  }

  td.article_comment_side_right {
    display: none;
  }

  div#article_show_center p.article_show_center_title {
    font-size: 30px;
    font-weight: bold;
  }

  div#article_show_center p.article_show_center_header img {
    width: calc(100% + 40px);
    height: 150px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    object-fit: cover;
  }

  td.header_mobile {
    display: none;
  }

div#article_show_center {
    padding: 20px;
    background-color: #fff;
    width: calc(100% - 40px);
    border: none;
    border-radius: 0;
  }

  table.each_other_article {
    display: none;
  }

  div#user_info_mobile {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
  }

  div#related_articles {
    box-shadow: none;
    border-radius: 0px;
  }

  div#article_memos {
    box-shadow: none;
    border-radius: 0px;
  }

  p.comment_user img {
    width:30px;
    height:30px;
  }

  div#comment_editor {
    box-shadow: none;
    border-radius: 0px;
  }

  .tab {
    border-radius: 0px;
  }

  div#article_show_comment {
    box-shadow: 0px 0px 0px 0px;
    border: 0;
    font-size: 15px;
  }

/*記事一覧*/

table.current_user {
  border-radius: 0px;
  border-bottom: solid 1px #ccc;
}

  table.article_index_table {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  td.article_index_left {
    padding-right: 0px;
  }

  table.each_hot_article {
    display: none;
}

p.hot_articles_title {
  font-size: 20px;
}


div#hot_article_1 {
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  border-radius: 5px;
}

div#hot_article_2 {
  background-color: #fff;
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

  div#article_list div#article_list_bottom {
    padding: 15px 20px;
}

div#article_list div h2 {
    font-size: 20px;
    color: #161616;
    text-decoration: none;
}

table.article_list_group_table {
  display: none;
}

td.hot_article_2 {
  display: none;
}

td.each_hot_article {
  display: none;
}

  td.article_index_right {
    display: none;
}

input.article_submit_button {
  font-size: 13px;
}

input.article_submit_as_draft_button {
  font-size: 13px;
}

.left_sidebar_button {
  @include button_mobile;
  border-left: solid 1px #D9A407;
}

}
