// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin edit_and_delete_button {
  display: inline-block;
  padding: 7px 12px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 2px 2px #ccc;
  font-size: 12px;
  border-radius: 2px;
}

@mixin article_status {
}

@mixin select_status_button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0px;
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  font-size: 18px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 10px;
}

table.dashboard_articles_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td.dashboard_article_td {
  text-align: left;
  font-size: 16px;
}

th {
  text-align: center;
}

table.dashboard_articles_status_table {
  width: 100%;
  text-align: center;
  height: 35px;
  border-collapse: collapse;
}

td.article_status {
  width: 33%;
  border-radius: 3px;
  @include article_status;
}

td.article_status_center {
  width: 33%;
  border-radius: 3px;
  @include article_status;
}

td.article_status a {
  @include select_status_button;
  background-color: #ccc;
  width: 100%;
  transition: all .5s;
}

td.article_status a:hover {
  background-color: #a8a8a8;
}

td.article_status_center a {
  width: calc(100% - 20px);
  @include select_status_button;
  font-weight: bold;
  background-color: #ccc;
  transition: all .5s;
}

td.article_status_center a:hover {
  background-color: #a8a8a8;
}

td.article_status_clicked_left {
  width: 33%;
  @include article_status;
}
td.article_status_clicked_center {
  width: 33%;
  @include article_status;
}
td.article_status_clicked_right {
  width: 33%;
  @include article_status;
}

td.article_status_clicked_left a {
  @include select_status_button;
  font-weight: bold;
  background-color: #FF4508;
  width: 100%;
}
td.article_status_clicked_center a {
  @include select_status_button;
  font-weight: bold;
  background-color: #FF4508;
  width: calc(100% - 20px);
}
td.article_status_clicked_right a {
  @include select_status_button;
  font-weight: bold;
  background-color: #FF4508;
  width: 100%;
}

a.dashboard_article_delete {
  @include edit_and_delete_button;
  background-color: #FF4508;
}

a.dashboard_article_edit {
  @include edit_and_delete_button;
  background: #808080;
}

div#dashboard_search_form {
  text-align: right;
}

input.dashboard_search_form {
  width: 30%;
  height: 35px;
  outline:none;
  padding-left: 10px;
  font-size: 12px;
  border: none;
  border-bottom: solid 1px #ccc;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 10px;
  margin-right: 20px;
}

div#dashboard_article_list{
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  background-color: #fff;
}

div#dashboard_article_list div#dashboard_article_list_bottom {
  height: auto;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

div#dashboard_article_list div h2 {
    font-size: 20px;
    text-decoration: none;
}

div#dashboard_article_list div p.dashboard_article_list_date{
    font-size: 12px;
    font-weight: bold;
}

div#dashboard_article_list div p.dashboard_article_list_category {
    font-size: 12px;
    font-weight: bold;
}

div#dashboard_article_list div p.dashboard_article_list_comment {
    font-size: 15px;
    font-weight: bold;
}

div#dashboard_article_list div p.dashboard_article_edit_delete {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}

p.setting_link a {
  font-size: 18px;
  color: #727272;
  padding-left: 10px;
}

p.setting_link {
  padding: 5px;
}

p.setting_link_clicked {
  padding: 5px;
}


p.setting_link_clicked a {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  background: #a8a8a8;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 100%;
}
