// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin edit_and_delete_button {
  display: inline-block;
  padding: 7px 12px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 2px 2px #ccc;
  font-size: 12px;
  border-radius: 2px;
}

@mixin box{
  box-shadow: 0 2px 3px rgba(10,10,10,.1);
  border: solid 1px #ddd;
  border-radius: 5px;
  background-color: #fff;
}

@mixin article_status {
}

@mixin select_status_button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px 0px;
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  font-size: 18px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: middle;
  margin-bottom: 10px;
}

$baseColor: #FFC107;
$hoverColor: #FFD966;

table.dashboard_articles_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td.dashboard_article_td {
  text-align: left;
  font-size: 16px;
}

th {
  text-align: center;
}

table.dashboard_articles_status_table {
  width: 100%;
  text-align: center;
  height: 35px;
  border-collapse: collapse;
}

td.article_status {
  width: 33%;
  border-radius: 3px;
  @include article_status;
}

td.article_status_center {
  width: 33%;
  border-radius: 3px;
  @include article_status;
}

td.article_status a {
  @include select_status_button;
  background-color: #ccc;
  width: 100%;
  transition: all .5s;
}

td.article_status a:hover {
  background-color: #a8a8a8;
}

td.article_status_center a {
  width: calc(100% - 20px);
  @include select_status_button;
  font-weight: bold;
  background-color: #ccc;
  transition: all .5s;
}

td.article_status_center a:hover {
  background-color: #a8a8a8;
}

td.article_status_clicked_left {
  width: 33%;
  @include article_status;
}
td.article_status_clicked_center {
  width: 33%;
  @include article_status;
}
td.article_status_clicked_right {
  width: 33%;
  @include article_status;
}

td.article_status_clicked_left a {
  @include select_status_button;
  font-weight: bold;
  background-color: #FFC107;
  width: 100%;
}
td.article_status_clicked_center a {
  @include select_status_button;
  font-weight: bold;
  background-color: #FFC107;
  width: calc(100% - 20px);
}
td.article_status_clicked_right a {
  @include select_status_button;
  font-weight: bold;
  background-color: #FFC107;
  width: 100%;
}

a.dashboard_article_delete {
  @include edit_and_delete_button;
  background-color: #FF4508;
}

a.dashboard_article_edit {
  @include edit_and_delete_button;
  background: #808080;
}

div#dashboard_search_form {
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

input.dashboard_search_form {
  width: 30%;
  height: 35px;
  outline:none;
  padding-left: 10px;
  font-size: 12px;
  border: none;
  border-bottom: solid 1px #ccc;
  background-color: #fff;
  margin-top: 10px;
}

div#dashboard_article_list{
  @include box;
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 5px;
}

div#dashboard_article_list div#dashboard_article_list_bottom {
  height: auto;
  padding: 18px;
  border-bottom: 1px solid #ccc;
}

div#dashboard_article_list div h2 {
    font-size: 20px;
    text-decoration: none;
}

div#dashboard_article_list div p.dashboard_article_list_date{
    font-size: 12px;
    font-weight: bold;
}

div#dashboard_article_list div p.dashboard_article_list_category {
    font-size: 12px;
    font-weight: bold;
}

div#dashboard_article_list div p.dashboard_article_list_comment {
    font-size: 15px;
    font-weight: bold;
}

div#dashboard_article_list div p.dashboard_article_edit_delete {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}

p.setting_link a {
  font-size: 18px;
  color: #727272;
  padding-left: 10px;
}

p.setting_link {
  padding: 5px;
}

p.setting_link_clicked {
  padding: 5px;
}

p.setting_link_clicked a {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  background: #a8a8a8;
  color: #fff;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: calc(100% - 10px);
}

a.dashboard_button {
  display: inline-block;
  text-decoration: none;
  color: #333;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
  border: solid 1px #333;
  transition: all .5s;
}

a.dashboard_button:hover {
  background: #ccc;
}

.selectWrap{
  width: 30%;
  position: relative;
  display: inline-block;
}

.selectWrap::after {
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-bottom: solid 2px #b4b3b3;
  border-right: solid 2px #b4b3b3;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}

.dashboard_search_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 35px;
  background: transparent;
  position: relative;
  z-index: 1;
  padding: 0 40px 0 10px;
  border: 1px solid #b4b3b3;
  border-radius: 2px;
  outline: none;
}

select::-ms-expand {
    display: none;
}

/*記事プレビュー画面*/

table.dashboard_show_table {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

td.dashboard_show_left {
  width: 74%;
}

div#dashboard_show_center{
    padding: 20px 35px;
    @include box;
}


div#dashboard_show_center  p.dashboard_show_center_category{
    font-size: 13px;
    font-weight: bold;
    color: #7d7d7d;
}

div#dashboard_show_center  p.dashboard_show_center_date{
    font-size: 13px;
    font-weight: bold;
    color: #7d7d7d;
}

div#dashboard_show_center p.dashboard_show_center_title {
  font-size: 60px;
  font-style: bold;
}

div#dashboard_show_center p.dashboard_show_center_header {
  text-align: center;
}

div#dashboard_show_center p.dashboard_show_center_header img {
  width: calc(100% + 70px);
  height: 320px;
  margin-top: -20px;
  margin-left: -35px;
  margin-right: -35px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}


td.dashboard_show_right {
  width: 400px;
  display:table-cell;
}

div.article_info {
  @include box;
  text-align: center;
  padding: 10px;
}

a.edit_article_button {
  display: inline-block;
  text-decoration: none;
  background: $baseColor;
  color: #fff;
  padding: 9px 30px;
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  width: calc(100% - 60px);
  margin-bottom: 10px;
  text-align: center;
  transition: all .5s;
}

a.edit_article_button:hover {
  background-color: $hoverColor;
}

a.delete_article_button {
  background: #FF4508;
}

a.delete_article_button:hover {
  background-color: #FF794D;
}

p.dashboard_article_info_substitute_button {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #FFC107;
  box-shadow: 0.5px 0.5px 5px 1px #ccc;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: -1;
}

p.dashboard_article_info_substitute_button img {
  width: 35px;
  height: 35px;
  margin-top: 28px;
  margin-left: 27px;
  object-fit: cover;
}

#dashboard_article_info-drawer {
  text-align: center;
}

/*チェックボックス等は非表示に*/
.dashboard_article_info-unshown {
  display:none;
}

/*アイコンのスペース*/
#dashboard_article_info-open {
  display: none;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#dashboard_article_info-open span, #dashboard_article_info-open span:before, #dashboard_article_info-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#dashboard_article_info-open span:before {
  bottom: -8px;
}
#dashboard_article_info-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#dashboard_article_info-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

#dashboard_article_info-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 75%;
  max-width: 330px;
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}


#dashboard_article_info-input:checked ~ #dashboard_article_info-close {
  display: block;
  opacity: .5;
}

#dashboard_article_info-input:checked ~ #dashboard_article_info-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
