@media (max-width: 768px) {
  p.markdown_image img {
    width: 200px;
    height: auto;
  }

  pre.markdown_block_code {
    font-size: 15px;
    padding: 20px 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 0px;
  }

  code.markdown_file_name {
    margin-left: -20px;
    font-size: 13px;
  }
}
