/*マークダウンエティターとarticle.bodyのmarkdown変換に対するstyle*/

/*見出し関連*/
@mixin heading {
  padding-bottom: 2px;
  border-bottom: solid 1px #ccc;
  margin-bottom: 15px;
}

@mixin font_size {
  font-size: 16px;
}

@mixin line_height {
  line-height: 200%;
}


/*ページ内リンクでのアンカーでのずれ防止*/
.markdown_heading {
    display: block;
    padding-top: 75px;
    margin-top: -70px;
    @include heading;
}

/*文字列の改行反映*/

  /*article#showでの表示*/
div.markdown_paragraph {
  white-space: pre-line;
  @include font_size;
  @include line_height;
}

  /*エディター*/
p.markdown_text {
  white-space:pre;
}

/*リスト関連*/
li.markdown_list {
  margin-left: 20px;
  white-space:normal;
  line-height: 35px;
  @include font_size;
}

/*コードブロック関連*/

  /*article#showでの表示*/
pre.markdown_block_code {
  margin-top: 10px;
  margin-left: -35px;
  margin-right: -35px;
  padding: 20px 30px;
  background-color: #333;
  @include font_size;
}

code.markdown_file_name {
  margin-bottom: 20px;
}

pre.markdown_block_code_without_file_name {
  margin-top: 10px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 25px 25px;
  background-color: #333;
  @include font_size;
}

  /*エディター*/
pre.hljs {
  background-color: #333;
  margin-top:10px;
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 30px;
  @include font_size;
}

div.markdown_file_name {
  background-color: #333;
  color: #000;
  width: 100%;
  margin-bottom: 20px;
  @include font_size;
}

div.markdown_file_name_itself {
  color: #fff;
  display: inline-block;
  @include font_size;
}

/*引用関連*/
div.markdown_quote {
  border-left:inset 10px #ccc;
  color: #333;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  @include font_size;
}

/*テーブル関連*/
table.markdown_table {
  display: inline-block;
  height: auto;
  width:100%;
  height: auto;
  margin-top: 10px;
  border-collapse: collapse;
  text-align: center;
  @include font_size;
}

td.markdown_td {
  border: solid 1px;
  padding: 0.5em;
}

th.markdown_th {
  background-color: #ccc;
  border: solid 1px;
  padding: 0.5em;
}


/*表示する画像*/

p.markdown_image img {
  width: 400px;
  height: auto;
  margin-top: 10px;
}

/*リンク*/

a.markdown_link {
  color: blue;
  @include font_size;
}
