// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin edit_and_delete_button {
  display: inline-block;
  padding: 7px 12px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 2px 2px #ccc;
  font-size: 12px;
  border-radius: 2px;
}

@mixin select_status_button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 20px 0px;
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  font-size: 18px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 10px;
}

@mixin article_status {
  height: 70px;
}

table.notifications_table {
  margin: 0 auto;
  width: 800px;
}

td.notification {
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  background-color: #fff;
  width: 800px;
  border-radius: 3px;
}

th {
  text-align: center;
}


td.notification_status_left {
  width: 33%;
  border-radius: 3px;
  @include article_status;
  text-align: center;
  padding-right: 5px;
}

td.notification_status_right {
  width: 33%;
  border-radius: 3px;
  @include article_status;
  text-align: center;
  padding-left: 5px;
}

td.notification_status_left a {
  @include select_status_button;
  background: #ccc;
  transition: all .5s;
}

td.notification_status_right a {
  @include select_status_button;
  background: #ccc;
  transition: all .5s;
}

td.notification_status_left a:hover {
  background-color: #a8a8a8;
}

td.notification_status_right a:hover {
  background-color: #a8a8a8;
}

td.notification_status_clicked_left {
  @include article_status;
  width: 33%;
  text-align: center;
  padding-right: 5px;
}

td.notification_status_clicked_right {
  @include article_status;
  width: 33%;
  text-align: center;
  padding-left: 5px;
}

td.notification_status_clicked_left a {
  font-weight: bold;
  @include select_status_button;
  background: #FF4508;
}

td.notification_status_clicked_right a {
  font-weight: bold;
  @include select_status_button;
  background: #FF4508;
}

div#notifications_list{
}

div#notifications_list div#notification_list_bottoom {
  height: auto;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

div#notifications_list div h2 {
    font-size: 20px;
    text-decoration: none;
}

div#notifications_list div p.notification_list_date{
    font-size: 12px;
    font-weight: bold;
}
