@media (max-width: 768px) {
  div#all_repo {
    padding: 0px;
    box-shadow: none;
    width: 100%;
  }

  div#repo_list {
  }

  a.public_repository {
    font-size: 13px;
  }

  a.private_repository {
    font-size: 13px;
  }
}
