@mixin stocks_mobile {
  width: 100%;
  border-radius: 0px;
  box-shadow: none;
}

@media (min-width: 768px) {
  p.stock_title_mobile {
    display: none;
  }

  table.stock_title_mobile {
    display: none;
  }
}
@media (max-width: 768px) {

  table.stocks_table {
    width: 100%;
  }

  td.stocks_sidebar {
    display: none;
  }

  td.stocks_main {
  width: 100%;
  padding: 0px 10px;
  }

  td.gap_mobile {
  display: none;
  }

  div#stocks_main {
  box-shadow: none;
  border-radius: 0px;
  }

  div#stocks_bottom {
  box-shadow: none;
  border-radius: 0px;
  }

  p.stock_title_mobile {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  p.create_stocks {
    @include stocks_mobile;
    border-left: solid 1px #D9A407;
  }

  p.destroy_stocks {
    @include stocks_mobile;
    border-left: solid 1px #D9A407;
  }

  p.stocks_count {
    position: relative;
    top: -35px;
    left: 35px;
    font-weight: bold;
    box-shadow: none;
    font-size: 13px;
    background-color: transparent;
  }

  p.stocks_count_clicked {
    position: relative;
    top: -35px;
    left: 35px;
    font-weight: bold;
    box-shadow: none;
    font-size: 13px;
  }

}
