// Place all the styles related to the Saves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin stocks {
  width: 50px;
  height: 50px;
  line-height: 150px;
  margin: 0 auto;
  font-size: 20px;
  display: block;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
}

@mixin stocks_image {
  width: 20px;
  height: auto;
  vertical-align: center;
  margin-bottom: 47px;
}

@mixin box_padding {
  padding: 10px 0px;
}

@mixin box{
  box-shadow: 0.5px 0.5px 10px 0px #ccc;
  border-radius: 5px;
  background-color: #fff;
}

$baseColor: #FFC107;
$hoverColor: #FFD966;

p.create_stocks {
  @include stocks;
  background: #fdf9f3;
  transition: all .5s;
}

p.create_stocks:hover {
  background: #e0e0e0;
}

p.create_stocks img {
  @include stocks_image;
}

p.destroy_stocks {
  @include stocks;
  background: #ccc;
}

p.destroy_stocks img {
  @include stocks_image;
}

p.stocks_count {
position: relative;
text-align: center;
top: -8px;
font-size: 10px;
width: 20%;
margin: 0 auto;
background-color: #fdf9f3;
padding: 0px 5px;
border-radius: 5px;
box-shadow: 0.5px 0.5px 10px #ccc;
}

p.stocks_count_clicked {
position: relative;
text-align: center;
top: -8px;
font-size: 10px;
width: 20%;
margin: 0 auto;
background-color: #ccc;
padding: 0px 5px;
border-radius: 5px;
box-shadow: 0.5px 0.5px 10px #ccc;
}


table.stocks_table {
  margin: 0 auto;
  width: 1000px;
}

td.stocks_main {

}

td.stocks_sidebar {
  width: 30%;
}

div#stocks_sidebar {
  @include box_padding;
  @include box;
}

table.stock_title_mobile {
  margin: 0 auto;
}

td.stock_logo img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

p.stock_title {
  font-weight: bold;
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

p.stock_tag {
  font-size: 18px;
  margin-bottom: 5px;
  padding: 0px 20px;
}

p.stock_tag:hover {
  background: #ededed;
}

a.stock_tag {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 15px;
  border-radius: 3px;
  width: 100%;
}
