/*ユーザープロフィール*/

@mixin edit_form{
  width: 60%;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  outline: none;
}

@mixin box_padding {
  padding: 20px;
}

@mixin box{
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

div#user_article_list{
  margin-left: 20px;
  margin-right: 20px;
}

div#user_article_list div#user_article_list_bottom {
  height: auto;
  padding: 15px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

div#user_article_list div h2 {
    font-size: 20px;
    text-decoration: none;
}

div#user_article_list div p.user_article_list_date{
    font-size: 12px;
    font-weight: bold;
}

div#user_article_list div p.user_article_list_category {
    font-size: 12px;
    font-weight: bold;
}

div#user_article_list div p.user_article_list_comment {
    font-size: 15px;
    font-weight: bold;
}

div#user_article_list div p.user_article_edit_delete {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}

table.user_show_bottom_table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #FFF;
}

td.user_show_left {
  width: 200px;
}

td.user_show_center {
  width: 50%;
}

td.user_show_right {
  width: 250px;
}

/*ユーザー情報編集*/

div#user_setting_main{
    background-color: #fff;
    @include box_padding;
}

div#user_setting_cancel {
  background-color: #fff;
  @include box_padding;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
  margin-top: 10px;
}

table.user_setting_table {
  margin: 0 auto;
  margin-top:90px;
  width: 90%;
}

td.user_setting_main {
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

td.user_setting_sidebar {
  width: 30%;

}

div#user_setting_sidebar {
  @include box_padding;
}

input.edit_form_picture {
  outline: none;
}

input.edit_form_username {
  @include edit_form;
}

input.edit_form_profile_id {
  @include edit_form;
}

input.edit_form_email {
  @include edit_form;
}

textarea.edit_form_description {
  width: 60%;
  height: 80px;
  font-size: 100%;
  outline: none;
  resize: none;
  padding: 5px;
  border: solid 1px #ccc;
}
input.edit_form_password {
  @include edit_form;
}
input.edit_form_password {
  @include edit_form;
}
input.edit_form_password {
  @include edit_form;
}

input.edit_user_info {
  display: inline-block;
  text-decoration: none;
  background: #FFC107;
  color: #fff;
  padding: 9px 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  font-size: 15px;
  margin-top: 13px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

input.edit_user_password {
  display: inline-block;
  text-decoration: none;
  background: #FFC107;
  color: #fff;
  padding: 9px 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  font-size: 15px;
  margin-top: 13px;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}

div#user_follow {
    width: 100%;
}

input.user_follow {
    display: block;
    width: 35%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
    margin: 0 auto;
    outline: none;
}

input.user_follow:hover {
    background: #ccc;
    color: #000;
}

.user_icon img {
  width: 50%;
}

div#user_sidebar{
    background-color: #ccc;
}

/*ユーザープロフィールのユーザー画像周辺*/

table.user_show_top_table {
  width: 90%;
  @include box;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

td.user_show_profile {
  width: 40%;
}

p.user_show_profile {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

p.user_name {
  border-bottom: solid 2px #ccc;
}

td.follow_count {
  text-align: center;
  font-size: 16px;
}

table.follow {
  margin: 0 auto;
}

.clear-element {
  clear: both;
}

div#sidebar_user_show {
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  border-right: 2px solid #ccc;
}

div#sidebar_user_description {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.user_box_show {
    display: table;
    width: 80%;
    height: 50px;
    border-spacing: 0 0;
    background: #FFF;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.picture_user_show {
  text-align: center;
}

.picture_user_show img {
  width: 170px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-top: 10px;
  margin-left: auto;
}

.user_show_follow_count {
  font-size: 20px;
  text-align: center;
}



div#user_sidebar_right{
}

div#user_each_repo {
  width: calc(100% - 20px);
  background-color: #fff;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
  padding: 10px;
}

p.repo_name {
  font-size: 15px;
}

table.github_repo {
}

p.github_icon img {
  width: 20px;
  border-radius: 50%;
}

p.repo_description {
  font-size: 15px;
}

div#user_all_memos {
  margin-bottom: 10px;
  @include box_padding;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

li.user_article_memo {
  background-color: #fff;
  padding-left: 10px;
  padding-top: 10px;
  list-style: none;
}

li.user_article_memo a {
  font-size: 15px;
  word-wrap: break-word;
}

li.user_article_memo::before {
  position: relative;
  top: -3px;
  left: -8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  content: '';
  border-radius: 100%;
  background: #FF4508;
}

p.box_name {
  font-weight: bold;
  color: #000;
}

p.box_name a {
  color: #333;
}

/*フォロー一覧画面*/

div#follow_index {
  width: 30%;
  margin: 0 auto;
}

p.show_follow {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
