/*ユーザープロフィール*/

@mixin edit_form{
  width: 90%;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  outline: none;
  background-color: #f6f6f6;
  border: solid 1px #ccc;
  border-radius: 3px;
}

@mixin box_padding {
  padding: 10px;
}

@mixin box{
  box-shadow: 0 2px 3px rgba(10,10,10,.1);
  border: solid 1px #ddd;
  background-color: #fff;
  border-radius: 5px;
}

$baseColor: #FFC107;
$hoverColor: #FFD966;

table.user_show_table {
  width: 1200px;
  border-spacing: 0;
  margin: 0 auto;
}

div#user_article_list {
  margin-top: 10px;
}

div#user_article_list div#user_article_list_bottom {
  height: auto;
  padding: 15px 25px;
  margin-bottom: 10px;
  @include box;
  margin-left: 10px;
  margin-right: 10px;
}

div#user_article_list div h2 {
    font-size: 20px;
    color: #161616;
    text-decoration: none;
}

div#user_article_list div p.user_article_list_date{
    font-size: 12px;
    font-weight: bold;
    color: #7d7d7d;
    margin-left: 15px;
}

div#user_article_list div p.user_article_list_category {
    font-size: 12px;
    font-weight: bold;
    color: #7d7d7d;
}

div#user_article_list div p.user_article_list_comment {
    font-size: 10px;
    font-weight: bold;
    color: #7d7d7d;
    margin-top: 4px;
}

table.user_article_list_info {
  width: 20%;
  margin-top: 10px;
}

td.user_article_list_user {
  width: 20%;
}

div#user_article_list_comments {
  margin-left: 20px;
}

td.user_article_list_comments {
  font-size: 12px;
  font-weight: bold;
}

td.user_article_list_likes {
  font-size: 12px;
  font-weight: bold;
}

p.user_article_list_user_picture img {
  width: 30px;
  border-radius: 50%;
  border: solid 2px #ccc;
  opacity: 1;
  transition: 0.3s;
}

p.user_article_list_user_picture:hover img{
  opacity: .5;
}

p.user_article_list_comments {
  margin-right: 5px;
}

p.user_article_list_comments img {
  width: 20px;
  height: auto;
}

p.user_article_list_likes {
  margin-right: 5px;
  margin-left: 10px;
}

p.user_article_list_likes img {
  width: 20px;
  height: auto;
}

.user_article_list_comment img {
  width: 17px;
  height: auto;
}

p.user_article_list_likes{

}

td.user_show_right {
  width: 25%;
}

td.user_show_left {
  width: 25%;
}

/*ユーザー情報編集*/

div#user_setting_main{
    background-color: #fff;
    padding: 20px;
    @include box;
}

div#user_setting_bottom{
    background-color: #fff;
    padding: 20px;
    @include box;
    margin-top: 10px;
}

div#user_setting_cancel {
  background-color: #fff;
  @include box_padding;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
  margin-top: 10px;
}

table.user_setting_table {
  margin: 0 auto;
  width: 1000px;
  border-spacing: 0px;
}

td.user_setting_main {

}

td.user_setting_sidebar {
  width: 30%;

}

div#user_setting_sidebar {
  @include box_padding;
}

div#user_edit_form_picture img {
  width: 70px;
  border-radius: 50%;
  border: solid 2px #ccc;
  object-fit: cover;
  height: 70px;
}

div#user_edit_form {
  margin-bottom: 20px;
}

div#user_error {
margin-top: 5px;
background-color: #f2dede;
padding: 5px;
border-radius: 5px;
font-size: 15px;
color: #a94442;
border: solid 1px #ebccd1;
width: 90%;
}

div#user_edit_form_picture{
}

div#edit_user_info {
}

p.user_edit_title {
  font-size: 15px;
}

input.edit_form_picture {
  outline: none;
  margin-bottom: 20px;
  -webkit-appearance: none;
}

input.edit_form_username {
  @include edit_form;
  -webkit-appearance: none;
}

input.edit_form_profile_id {
  @include edit_form;
  -webkit-appearance: none;
}

input.edit_form_email {
  @include edit_form;
  -webkit-appearance: none;
}

textarea.edit_form_description {
  width: 90%;
  height: 150px;
  font-size: 18px;
  outline: none;
  resize: none;
  padding: 5px;
  background-color: #f6f6f6;
  border: solid 1px #ccc;
  border-radius: 3px;
  -webkit-appearance: none;
}
input.edit_form_password {
  @include edit_form;
  -webkit-appearance: none;
}

input.edit_user_info {
  display: inline-block;
  text-decoration: none;
  background: $baseColor;
  color: #fff;
  padding: 9px 20px;
  font-size: 13px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  transition: all .5s;
  -webkit-appearance: none;
}

input.edit_user_info:hover {
  background-color:$hoverColor;
}

input.edit_user_password {
  display: inline-block;
  text-decoration: none;
  background: $baseColor;
  color: #fff;
  padding: 9px 20px;
  font-size: 13px;
  margin-top: 5px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  transition: all .5s;
  -webkit-appearance: none;
}

input.edit_user_password:hover {
  background-color: $hoverColor;
}

div#user_follow_form {
  width: 40%;
  margin: 0 auto;
}

input.user_unfollow {
    display: block;
    width: 80%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin: 0 auto;
    outline: none;
    background-color: #FFC107;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    border: solid 2px #FFC107;
    -webkit-appearance: none;
}

input.user_follow {
    display: block;
    width: 80%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #FFC107;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin: 0 auto;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px #FFC107;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
    -webkit-appearance: none;
    background: #fff;
}

input.user_follow:hover {
  background-color: #FFECB3;
}

.user_icon img {
  width: 50%;
}

p.no_followers {
  margin-bottom: 10px;
}

div#user_sidebar{
  margin-top: 10px;
}

/*ユーザープロフィールのユーザー画像周辺*/

td.user_show_profile {
  @include box;
  padding: 20px;
}

p.user_show_username {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}

p.user_show_profile_id {
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

table.user_show_link {
  font-size: 15px;
  margin: 0 auto;
  margin-top: 5px;
}

p.user_show_link img {
  width: 13px;
}

a.user_social_link {
  font-size: 13px;
}

p.user_name {
  border-bottom: solid 2px #ccc;
}

td.follow_count {
  text-align: center;
  font-size: 12px;
}

td.follow_count a {
  font-size: 18px;
}

table.user_sub_info_table {
  display: inline-block;
}


#user_sub_info_1-drawer {
  margin-top: 10px;
  padding-left: 10px;
}

/*チェックボックス等は非表示に*/
.user_sub_info_1-unshown {
  display:none;
}

/*アイコンのスペース*/
#user_sub_info_1-open {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  line-height: 150px;
  font-size: 20px;
  display: block;
  text-align: center;
  background: #fdf9f3;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 5px 1px #ccc;
  transition: all .5s;
}

#user_sub_info_1-open img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-bottom: 50px;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#user_sub_info_1-open span, #user_sub_info_1-open span:before, #user_sub_info_1-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#user_sub_info_1-open span:before {
  bottom: -8px;
}
#user_sub_info_1-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#user_sub_info_1-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

#user_sub_info_1-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 75%;
  max-width: 330px;
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}


#user_sub_info_1-input:checked ~ #user_sub_info_1-close {
  display: block;
  opacity: .5;
}

#user_sub_info_1-input:checked ~ #user_sub_info_1-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}



#user_sub_info_2-drawer {
  margin-top: 10px;
  padding-left: 10px;
}

#user_sub_info_2-drawer {
  margin-top: 10px;
  padding-left: 10px;
}

/*チェックボックス等は非表示に*/
.user_sub_info_2-unshown {
  display:none;
}

/*アイコンのスペース*/
#user_sub_info_2-open {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  line-height: 150px;
  font-size: 20px;
  display: block;
  text-align: center;
  background: #fdf9f3;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 5px 1px #ccc;
  transition: all .5s;
}

#user_sub_info_2-open img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-bottom: 50px;
  margin-right: 0.5px;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#user_sub_info_2-open span, #user_sub_info_2-open span:before, #user_sub_info_2-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer;
}
#user_sub_info_2-open span:before {
  bottom: -8px;
}
#user_sub_info_2-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#user_sub_info_2-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

#user_sub_info_2-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 75%;
  max-width: 330px;
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}


#user_sub_info_2-input:checked ~ #user_sub_info_2-close {
  display: block;
  opacity: .5;
}

#user_sub_info_2-input:checked ~ #user_sub_info_2-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

table.follow {
  margin: 0 auto;
}

.clear-element {
  clear: both;
}

div#sidebar_user_show {
  background-color: #fff;
  border-right: 2px solid #ccc;
  width: 50%;
  border-radius: 5px 0 0 5px;
}

div#sidebar_user_description {
  text-align: center;
  font-size: 13px;
  margin-bottom: 5px;
}

.user_box_show {
    display: table;
    width: 80%;
    height: 50px;
    border-spacing: 0 0;
    background: #FFF;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.picture_user_show {
  text-align: center;
}

.picture_user_show img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-top: 10px;
  margin-left: auto;
  object-fit: cover;
  transition: all .5s;
}

.picture_user_show:hover img {
  opacity: .5;
}

.user_show_follow_count {
  font-size: 20px;
  text-align: center;
}



div#user_sidebar_right{
  margin-top: 10px;
}

div#user_each_repo {
  width: calc(100% - 20px);
  background-color: #fff;
  margin-bottom: 10px;
  @include box;
  padding: 10px;
}

p.repo_name {
  font-size: 15px;
}

table.github_repo {
}

p.github_icon img {
  width: 20px;
  border-radius: 50%;
}

p.repo_description {
  font-size: 13px;
}

div#user_all_memos {
  @include box_padding;
  @include box;
}

li.user_article_memo {
  padding-left: 10px;
  list-style: none;
}

li.user_article_memo a {
  font-size: 15px;
  word-wrap: break-word;
}

li.user_article_memo::before {
  position: relative;
  top: -3px;
  left: -8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  content: '';
  border-radius: 100%;
  background: #333;
}

p.box_name {
  font-weight: bold;
  color: #000;
}

p.box_name a {
  color: #333;
}

/*フォロー一覧画面*/

div#follow_index {
  width: 15%;
  margin: 0 auto;
}

p.show_follow {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

table.following_user {
  width: 35%;
  padding: 2px 10px;
  padding-top: 10px;
  @include box;
  margin: 0 auto;
}

td.following_user_main_element {
  display: inline-block;
  margin-top: 13px;
}

td.following_user_picture {
  width: 10px;
}

p.following_user {
  padding: 0 5px;
  margin-top: -5px;
}

p.following_user a {
  font-size: 15px;
}

p.following_user img {
  width: 50px;
  border-radius: 50%;
  border: solid 2px #ccc;
  margin-top: 10px;
  object-fit: cover;
  height: 50px;
  transition: all .5s;
}

p.following_user:hover img {
  opacity: .5;
}
