<div class="privacy_policy">
  <p class="privacy_policy_title"><%= @title %></p>
  <div class="markdown_paragraph">Qrunch運営チーム（以下「運営チーム」といいます。）は、提供するサービス（以下「本サービス」といいます。）における、ユーザーについての個人情報を含む利用者の取扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」といいます。）を定めます。
  </div>
  <h2 class="markdown_heading">1. 利用者情報の定義</h2>
  <div class="markdown_paragraph">本ポリシーにおいて、「利用者情報」とは、ユーザーの識別に係る情報、ユーザーの投稿データ及びアップロードデータ、通信サービス上の行動履歴、その他ユーザーのスマートフォン、PC等の端末においてユーザーまたはユーザーの端末に関連して生成または蓄積された情報であって、本ポリシーに基づき運営チームが収集するものを意味するものとします。
  </div>
  <div class="markdown_paragraph">本サービスにおいて運営チームが収集する利用者情報は、その収集方法に応じて、以下のようなものになります。
  </div>
  <ol>
    <li class="markdown_list"><strong>ユーザーからご提供いただく情報</strong>
      <div class="markdown_paragraph">ユーザーが本サービスを利用するために、ご提供いただく情報は以下の通りです。
      </div>
      <ul>
        <li class="markdown_list"><div class="markdown_paragraph">メールアドレス</div></li>
        <li class="markdown_list"><div class="markdown_paragraph">プロフィール情報</div></li>
        <li class="markdown_list"><div class="markdown_paragraph">その他運営チームが定める入力フォームにユーザーが入力する情報</div></li>
      </ul>
    </li>
    <li class="markdown_list"><strong>ユーザーが本サービスを利用するにあたって、運営チームが収集する情報</strong>
      <ul>
        <li class="markdown_list"><div class="markdown_paragraph">端末情報</div></li>
        <li class="markdown_list"><div class="markdown_paragraph">ログ情報</div></li>
        <li class="markdown_list"><div class="markdown_paragraph">Cookie及び匿名ID</div></li>
        <li class="markdown_list"><div class="markdown_paragraph">ユーザーが所有するサイトの情報</div></li>
        <li class="markdown_list"><div class="markdown_paragraph">その他本サービスの機能により収集可能な一連の情報</div></li>
      </ul>
    </li>
</ol>

  <h2 class="markdown_heading">2. 利用者情報の利用目的</h2>
  <ol>
    <li class="markdown_list"><div class="markdown_paragraph">運営チームの利用に必要な会員の管理のためのシステム運営</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">運営チームの利便性を向上させるためのシステム運営</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">メンテナンス情報や、重要なご連絡など、運営チームを運用する上で必要な皆様へのお知らせ</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">運営チームが利用者の皆様に有用だと思われるメールマガジン、お知らせ</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">運営チームへのご質問、お問い合わせなどに関する回答</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">利用者の皆様の行動、性別、運営チーム内でのアクセス履歴などを用いたターゲティング広告の配信</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">運営チーム上で、個人を特定できない範囲においての統計情報の作成および利用</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">運営チームの他サービスへの情報の連携・情報の共有</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">運営チームの新規開発に必要なデータの解析や分析</div></li>
    <li class="markdown_list"><div class="markdown_paragraph">運営チームが提携している先への個人を特定できず会員の許諾を得た範囲内での情報の提供</div></li>
  </ol>

  <h2 class="markdown_heading">3.個人情報利用目的の変更</h2>
  <div class="markdown_paragraph">運営チームは、利用者情報の利用目的を相当の関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合にはお客様に通知又は公表します。
  </div>

  <h2 class="markdown_heading">4.個人情報利用の制限</h2>
  <div class="markdown_paragraph">運営チームは、個人情報保護法その他の法令により許容される場合を除き、お客様の同意を得ず、 利用目的の達成に必要な範囲を超えて利用者情報を取り扱いません。但し、次の場合はこの限りではありません。
  </div>
  <ol>
    <li class="markdown_list">法令に基づく場合
    </li>
    <li class="markdown_list">人の生命、身体又は財産の保護のために必要がある場合であって、お客様の同意を得ることが困難であるとき
    </li>
    <li class="markdown_list">公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、お客様の同意を得ることが困難であるとき
    </li>
    <li class="markdown_list">国の機関もしくは地方公共団体またはその委託を受けたものが法令の定める事務を遂行することに対して協力する必要がある場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼす恐れがある場合
    </li>
    <li class="markdown_list">国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、お客様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
    </li>
  </ol>

  <h2 class="markdown_heading">5.個人情報の適正な取得</h2>
  <div class="markdown_paragraph">運営チームは、適正に利用者情報を取得し、偽りその他不正の手段により取得しません。
  </div>

  <h2 class="markdown_heading">6.第三者提供</h2>
  <div class="markdown_paragraph">運営チームは、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめお客様の同意を得ないで、利用者情報を第三者に提供しません。但し、次に掲げる場合は上記に定める第三者への提供には該当しません。
  </div>
  <ol>
    <li class="markdown_list">運営チームが利用目的の達成に必要な範囲内において利用者情報の取扱いの全部又は一部を委託する場合
    </li>
    <li class="markdown_list">合併その他の事由による事業の承継に伴って利用者情報が提供される場合
    </li>
    <li class="markdown_list">別途定めに従って共同利用する場合
    </li>
  </ol>

  <h2 class="markdown_heading">7.Google Analyticsやその他解析ツールの利用について</h2>
  <div class="markdown_paragraph">運営チームは、本サービスにおいて、ユーザーの動向を調査する為にGoogle Analyticsを用い、統計的な利用情報を取得しています。Google Analyticsの詳細に関しては、下記をご確認ください。
  </div>

  <h2 class="markdown_heading">8.お問い合わせ</h2>
  <div class="markdown_paragraph">開示等のお申出、ご意見、ご質問のお申出その他利用者情報の取扱いに関するお問い合わせは、下記の窓口までお願い致します。
  </div>
  <ul>
    <li class="markdown_list">E-mail : info@qiita.com
    </li>
  </ul>

  <h2 class="markdown_heading">9.継続的改善</h2>
  <div class="markdown_paragraph">運営チームは、利用者情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、 必要に応じて、本プライバシーポリシーを変更することがあります。
  </div>
</div>
