<div class="rules">
  <p class="rules_title"><%= @title %></p>
  <div class="markdown_paragraph">本利用規約（以下、本規約）には、本サービスの提供条件及び当サービスの運営チームと登録ユーザーの皆様との間の権利義務関係が定められています。本サービスの利用に際しては、本規約の全文をお読みいただいた上で、本規約に同意いただく必要があります。
  </div>
  <h2 class="markdown_heading">第1条（はじめに）</h2>
  <ol>
    <li class="markdown_list">
      「プログラマのための技術情報共有サイトQiita」「プログラマのための技術情報記録アプリKobito」等Increments株式会社が提供する全てのサービスは、プログラマの皆さんが気持ちよく心から喜んでいただけるサービスを目指しています。以下の通り利用規約を定めますので、利用の際は「サービス利用規約」(以下「本規約」といいます。)にご同意されたものとみなします。
    </li>
    <li class="markdown_list">
      本規約は、Increments株式会社(以下「当社」といいます。)が提供する「プログラマのための技術情報共有サイトQiita」(以下「Qiita」といいます。)「プログラマのための技術情報記録アプリKobito」(以下「Kobito」といいます。)(以上を総称して、以下「本サービス」といいます。)の利用に関する条件を、本サービスを利用するお客様(以下「ユーザー」といいます。)と当社との間で定めるものです。利用者は本規約に同意の上、本サービスを利用するものとします。
    </li>
    <li class="markdown_list">
      「」等Increments株式会社が提供する全てのサービスは、プログラマの皆さんが気持ちよく心から喜んでいただけるサービスを目指しています。以下の通り利用規約を定めますので、利用の際は「サービス利用規約」(以下「本規約」といいます。)にご同意されたものとみなします。
    </li>
    <li class="markdown_list">
      本規約は、Increments株式会社(以下「当社」といいます。)が提供する「プログラマのための技術情報共有サイトQiita」(以下「Qiita」といいます。)「プログラマのための技術情報記録アプリKobito」(以下「Kobito」といいます。)(以上を総称して、以下「本サービス」といいます。)の利用に関する条件を、本サービスを利用するお客様(以下「ユーザー」といいます。)と当社との間で定めるものです。
      利用者は本規約に同意の上、本サービスを利用するものとします。(以下「本規約」といいます。)にご同意されたものとみなします。
    </li>
  </ol>

  <h2 class="markdown_heading">第2条（定義）</h2>
  <div class="markdown_paragraph">本規約において使用する以下の用語は、各々以下に定める意味を有するものとします。
  </div>
  <ol>
    <li class="markdown_list">
      「サービス利用規約」とは、本規約および運営チームと登録ユーザーの間で締結する、本サービスの利用規約を意味します。
    </li>
    <li class="markdown_list">
      「知的財産権」とは、著作権、特許権、実用新案権、意匠権、商標権その他の知的財産権（それらの権利を取得し、またそれらの権利につき登録等を出願する権利を含みます。）を意味します。
    </li>
    <li class="markdown_list">
      「運営チーム」とは、Qrunchの運営チームを意味します。
    </li>
    <li class="markdown_list">
      「登録ユーザー」とは、第3条（登録）に基づいて本サービスの利用者としての登録がなされた個人または法人を意味します。
    </li>
    <li class="markdown_list">
      「本サービス」とは、Qrunch（クランチ）という名称のサービス（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます。）を意味します。
    </li>
  </ol>

  <h2 class="markdown_heading">第3条（登録）</h2>
  <ol>
  <li class="markdown_list">
    本サービスの利用を希望するもの（以下「登録希望者」といいます。）は、本規約を尊守することに同意し、かつ運営チームの定める一定の情報（以下「登録事項」といいます。）を運営チームの定める方法で運営チームに提供することにより、運営チームに対し、本サービスの利用を申請することができます。
  </li>
  <li class="markdown_list">
    運営チームは、登録申請者が以下の各号のいずれかの事由に該当する場合は、登録及び再登録を拒否することがあり、またその理由について一切開示義務を負いません。
    <ol>
      <li class="markdown_list">
        運営チームに提供した登録事項の全部または一部につき虚偽、誤記又は記載漏れがあった場合
      </li>
      <li class="markdown_list">
        反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。以下同じ。）である、または資金提供その他を通じて反社会勢力等の維持、運営もしくは経営に協力もしくは菅如する等反社会的勢力等の何らかの交流もしくは関与を行っていると運営チームが判断した場合
      </li>
      <li class="markdown_list">
        登録希望者が過去運営チームとの契約に違反した者またはその関係者であると運営チームが判断した場合
      </li>
      <li class="markdown_list">
        第6条に定める措置を受けたことがある場合
      </li>
      <li class="markdown_list">
        その他、運営チームが登録を適当でないと判断した場合
      </li>
    </ol>
  </li>
  </ol>

  <h2 class="markdown_heading">第4条（パスワード及びユーザーIDの管理）</h2>
  <ol>
    <li class="markdown_list">
      登録ユーザーは、事故の責任において、本サービスに関するパスワード及びユーザーIDを適切に管理及び保管するものとし、これを第三者に利用させ、または貸与、譲渡、名義変更、売買等をしてはならないものします。
    </li>
    <li class="markdown_list">
      登録ユーザーは1人につき唯一のアカウントを保有できるものとします。ただし、別途当社が許可した場合は除きま
す。ユーザーIDとログインパスワードを取得するために登録されたメールアドレス、その他の情報は、正確かつ合法でなければなりません。
    </li>
    <li class="markdown_list">
      パスワードまたはユーザーIDの管理不十分、使用上の過誤、第三者の使用等によって生じた損害に関する責任は登録ユーザーが負うものとし、運営チームは一切の責任を負わず、賠償はいたしかねます。
    </li>
    <li class="markdown_list">
      ユーザーが外部サービスのID等を利用して本サービスに登録した場合、そのID等の登録、利用については、外部サービスが規定する各規約の定めに従うものとし、当社はその内容について一切の責任を負うものではありません。
    </li>
  </ol>

  <h2 class="markdown_heading">第5条（禁止事項）</h2>
  <div class="markdown_paragraph">ユーザーは、本サービスを利用するに際し、以下のような法律違反行為を行ってはなりません。
  </div>
  <ol>
    <li class="markdown_list">
      著作権、特許権等の知的財産権を侵害する行為
    </li>
    <li class="markdown_list">
      プライバシーを侵害する行為
    </li>
    <li class="markdown_list">
      名誉毀損行為、侮辱行為や他者の業務妨害となる行為
    </li>
    <li class="markdown_list">
      詐欺行為
    </li>
    <li class="markdown_list">
      無限連鎖講(ネズミ講)を開設し、またはこれを勧誘・運営する行為
    </li>
    <li class="markdown_list">
      不正アクセス行為の防止等に関する法律に違反する行為、電子計算機損壊等業務妨害罪（刑法第234条の2）に該当する行為をはじめ、当社及び他人のコンピューターに対して不正な操作を行う行為
    </li>
    <li class="markdown_list">
      その他犯罪に関わる行為あるいは法令に違反する行為
    </li>
  </ol>

  <div class="markdown_paragraph">ユーザーは、本サービスを利用するに際し、以下のような社会的に不適切な行為を行ってはなりません。
  </div>
  <ol>
    <li class="markdown_list">
      犯罪予告、犯罪の指南等、犯罪を引き起こすおそれのある行為
    </li>
    <li class="markdown_list">
      人種、民族、信条、性別、社会的身分、居住場所、身体的特徴、病歴、教育、財産及び収入等を根拠にする差別的表現行為
    </li>
    <li class="markdown_list">
      倫理的に問題がある低俗、有害、下品な行為、他人に嫌悪感を与える内容の情報を開示する行為。ポルノ、売春、風俗営業、これらに関連する内容の情報を開示する行為。
    </li>
    <li class="markdown_list">
      迷惑行為、嫌がらせ行為、誹謗中傷行為、正当な権利なく他者に精神的被害・経済的被害を与える行為
    </li>
    <li class="markdown_list">
      自分以外の個人や会社、団体を名乗ったり、権限なく特定の会社や団体の名称を使用したり、架空の個人や会社、団体を名乗ったり、事実がないにも関わらず他の人物や会社、団体と業務提携や協力関係があると偽ったりする行為
    </li>
    <li class="markdown_list">
      他者になりすましてサービスを利用したり、情報を改ざんする行為
    </li>
    <li class="markdown_list">
      その他、公序良俗に反するかあるいは社会的に不適切な行動と解される行為
    </li>
  </ol>

    <div class="markdown_paragraph">ユーザーは、本サービスを利用するに際し、以下のような本サービス利用上不適切な行為を行ってはなりません。
    </div>
    <ol>
      <li class="markdown_list">
        宣伝や商用を目的とした広告・勧誘その他の行為。ただし、当社が本サービス上で別途定める場合はその限りではありません。
      </li>
      <li class="markdown_list">
        ユーザーIDを共有する行為、当社の許諾無く1人でアカウントを複数保有する行為、当社が許諾する数を超えるサブアカウントを保有する行為
      </li>
      <li class="markdown_list">
        他人に不快感や誤解を与えるようなユーザーIDを使用する行為、当社あるいは他人、一般的に知られている社名、団体名、商品名と誤解されるような同一あるいは類似のユーザーIDを使用する行為
      </li>
      <li class="markdown_list">
        他人の個人情報を盗用、収集、蓄積、変更、利用する行為、自分の個人情報やユーザー情報を不正に操作し、変更する行為
      </li>
      <li class="markdown_list">
        本サービス内でのページデザイン変更により、当社が標準的に表示しているヘッダ、フッタ、広告及び著作権表示を当社の許諾なく非公開にする行為
      </li>
      <li class="markdown_list">
        当社の承諾無く本サービスを転用・売却・再販する行為
      </li>
    </ol>
  <h2 class="markdown_heading">第6条（本サービスの停止等）</h2>
  <ol>
    <li class="markdown_list">
      運営チームは、以下のいずれかに該当する場合には、登録ユーザーに事前に通知することなく、本サービスの全部または一部の提供を停止または中断することができるものとします。
    </li>
    <li class="markdown_list">
      運営チームは、本条に基づき運営チームが行った措置に基づき登録ユーザーに生じた損害について一切の責任を負わず、賠償はいたしかねます。
    </li>
  </ol>

  <h2 class="markdown_heading">第7条（投稿データに関する権利帰属）</h2>
  <div class="markdown_paragraph">当サービスで投稿された記事、ログ等の文面および画像等のファイルデータはユーザーに帰属するものとします。
ただし、権利を侵さない範囲内において当サービスの広報やその他活動に利用する場合があります。
  </div>
  <div class="markdown_paragraph">また、ユーザーは当サービスに投稿する全ての文面、ファイルデータにおいて、第三者の権利を侵害するものではないことを保証し、侵害したことによって起こった何らかの紛争に関しては、該当ユーザーの責任と費用のもとで解決するとともに、運営チームは一切の責任を負わないものとします。
  </div>

  <h2 class="markdown_heading">第8条（投稿データの掲載について）</h2>
  <div class="markdown_paragraph">当社は投稿内容を当社の裁量で自由に保存することができるものとし、当社が必要と認めた場合には、投稿者の承諾を得ることなく、保存されている投稿内容の削除または修正を行う場合があります。ユーザーはこれについて一切の異議をとなえないものとします。
  </div>

  <h2 class="markdown_heading">第9条(ユーザーに関する情報の利用)</h2>
  <div class="markdown_paragraph">当社は、本サービス申込時にユーザーが登録したユーザー情報を、ユーザー個人を特定できない利用形態において、当社の裁量で自由に利用又は第三者に開示することができるものとします。
  </div>

  <h2 class="markdown_heading">第10条（登録抹消等）</h2>
  <ol>
    <li class="markdown_list">
      運営チームは、登録ユーザーが、以下の各号のいずれかの事由に該当する場合は、事前に通知または催告することなく、当該登録ユーザーについて本サービスの利用を一時的に停止し、または登録ユーザーとしての登録を抹消、もしくはサービス利用契約を解除することができます。
      <ol>
        <li class="markdown_list">
          本規約のいずれかの条項に違反した場合
        </li>
        <li class="markdown_list">
          登録事項に虚偽の事実があることが判明した場合
        </li>
        <li class="markdown_list">
          支払い停止もしくは支払い不能となり、または破産手続き開始、民事再生手続き開始、会社更生手続き開始、特別清算開始若しくはこれらに類する手続き開始の申し立てがあった場合
        </li>
        <li class="markdown_list">
          6カ月以上本サービスの利用がない場合
        </li>
        <li class="markdown_list">
          運営チームからの問い合わせその他の回答を求める連絡に対して30日間以上応答がない場合
        </li>
        <li class="markdown_list">
          第3条第4項各号に該当する場合
        </li>
        <li class="markdown_list">
          その他、運営チームが本サービスの利用、登録ユーザーとしての登録、またはサービスの利用契約の継続を適切でないと判断した場合
        </li>
      </ol>
    </li>
    <li class="markdown_list">
      前項各号のいずれかの事由に該当した場合、登録ユーザーは、運営チームに対して負ている債務の一切について当然に期限の利益を失い、ただちに運営チームに対して全ての債務の支払を行わなければなりません。
    </li>
    <li class="markdown_list">
      運営チームは、本条に基づき運営チームが行った行為により登録ユーザーに生じた損害について一切の責任を負いません。
    </li>
  </ol>

  <h2 class="markdown_heading">第11条（ユーザーによる本サービスの終了）</h2>
  <div class="markdown_paragraph">登録ユーザーは、運営チーム所定の方法により、本サービスから退会し、自己の登録ユーザーとしての登録を抹消することができます。
  </div>

  <h2 class="markdown_heading">第12条（利用者情報の扱い）</h2>
  <ol>
    <li class="markdown_list">
      運営チームによる登録ユーザーの利用者情報の取扱いについては、別途運営チームのプライバシーポリシーの定めによるものとし、登録ユーザーはこのプライバシーポリシーに従って運営チームが登録ユーザーの利用者情報を扱うことについて同意するものとします。
    </li>
    <li class="markdown_list">
      運営チームは、登録ユーザーが運営チームの提供した情報、データ等を、個人を特定できない形での統計的な情報として、運営チームの裁量で、利用及び公開することができるものとし、登録ユーザーはこれに異議を唱えないものとします。
    </li>
  </ol>

  <h2 class="markdown_heading">第13条(契約終了後の取扱い)</h2>
  <div class="markdown_paragraph">当社は、ユーザーが本サービスの利用を終了した場合及び当社が本サービスを廃止したことなど、何らかの理由によりユーザーが本サービスの利用資格を失った後においても、第9条から第11条は有効に存続し、ユーザーが登録したユーザー情報及び投稿内容を使用することができるものとします。
  </div>

  <h2 class="markdown_heading">第14条（サービスの利用契約上の地位の譲渡等）</h2>
  <ol>
    <li class="markdown_list">
      登録ユーザーは、運営チームの書面による事前の承諾なく、利用契約上の地位または本契約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。
    </li>
    <li class="markdown_list">
      運営チームは本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びに登録ユーザーの登録事項その他の顧客情報を当該事業譲渡の譲受人に譲渡することができるものとし、登録ユーザーは、掛かる譲渡につき、本項において定め同意したものとします。
    </li>
  </ol>

  <h2 class="markdown_heading">第15条（規約・サービスの変更等）</h2>
  <div class="markdown_paragraph">本規約は、予告なしに変更されることがあります。規約の変更にあたって、運営チームが大幅な変更と判断した場合を除いて、ユーザーの皆様に通知をすることはございません。ご利用の際には随時、最新の利用規約をご参照ください。
  </div>

  <h2 class="markdown_heading">第16条（準拠法及び管轄裁判所）</h2>
  <ol>
    <li class="markdown_list">
      本規約およびサービスの利用契約上の準拠法は日本法とします。なお、本サービスにおいて物品の売買が発生する場合であっても、国際物品売買契約に関する国際連合条約の適用を排除することに合意します。
    </li>
    <li class="markdown_list">
      本規約またはサービス利用契約に起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    </li>
  </ol>

</div>
