<div id='index_show_main'>
  <div id="article_wrap">
    <div id="article_list">
<% @article_memos.each do |memo| %>
<div id="article_list_bottom">
<%= memo.title %>
</div>

<% end %>
</div>
</div>
</div>
