
<div id='article_form_wrap'>
  <%= form_for ([@article, @article.article_memos.build]) do |memo| %>
  <div id='article_form_title'>
      <%= memo.text_field :title, class: "article_title" %>
  </div>

  <div id="editor">
    <%= memo.text_area :body, class: "article_body", "v-model" => "input", "debouce" => "300", :placeholder => "body", :class => "article_body" %>
    <div v-html="input | marked", id="article_preview"></div>
  </div>

  <div class="submit_button">
    <%= memo.submit %>
  </div>
    <% end %>
</div>
