/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @charset "utf-8";

 * {
   margin: 0;
   padding: 0;
 }

 body#all_contents{
     font-size: 20px;
     color: #161616;
     background-color: #f9f9f9;
     font-family: "KozGoPro-Light", "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
 }

 .clear {
   clear: both;
   text-align: center;
 }

 a{
     text-decoration: none;
 }

 header{
     background-color: #f9cc00;
     padding: 20px;
 }

 header div#header_menu {
     width: 100%;
     text-align: center;
 }

 .notice {
   background-color: #ccc;
   color: #white;
   text-align: center;
 }

 .alert {
   background-color: red;
   color: #white;
   text-align: center;
 }

div#devise_html_mail {
    background-color: #ccc;
    margin: 20px auto;
}
