// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@charset "utf-8";

@mixin box{
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}
/*記事一覧*/

div#index_show_main {
    position: relative;
    width: 85%;
    margin-left : auto;
    margin-right : auto;
    margin-top: 90px;
    background-color: #ccc;
}

div#article_wrap{
  width: 100%;
  background-color: #fcfaed;
}

.article_period{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fff;/*ボタン色*/
    color: #000;
    border-bottom: solid 4px #000;
    border-radius: 3px;
    font-size: 15px;
}
.article_period:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.article_period_clicked{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #000;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #000;
    border-radius: 3px;
    font-size: 15px;
}
.article_period_clicked:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.article_box_show {
    display: table;
    width: 500px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ccc;
}

.article_box_item {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.article_box_item + .article_box_item {
  border-left: 1px solid #CCC;
}

.article_box p {
    display: block;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.buttonH {
  display: inline-block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  border-radius: 5px;
}
.buttonH::before,
.buttonH::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.buttonH,
.buttonH::before,
.buttonH::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.buttonH {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  line-height: 48px;
}
.buttonH::after {
  top: 4px;
  left: 4px;
  width: 188px;
  height: 38px;
  border: 2px solid #333;
  opacity: 0;
  border-radius: 5px;
}
.buttonH:hover::after {
  opacity: 1;
}


div#article_list{
    width: 62.7%;
    float: left;
    margin-left: 11.3%;
    background-color: #fff;
}

div#article_list div#article_list_bottom {
  height: auto;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  @include box;
}

div#article_list div h2 {
    font-size: 23px;
    color: #161616;
    text-decoration: none;
}

div#article_list div p.article_list_date{
    font-size: 12px;
    font-weight: bold;
    color: #7d7d7d;
}

div#article_list div p.article_list_category {
    font-size: 12px;
    font-weight: bold;
    color: #7d7d7d;
}

div#article_list div p.article_list_comment {
    font-size: 10px;
    font-weight: bold;
    color: #7d7d7d;
    margin-top: 4px;
}

div#article_info {
  margin-top: 5px;
  margin-bottom: -20px;
  width: 100%;
  background-color: #ccc;
  height: auto;
}

.article_info_box {
    display: table;
    border-collapse: separate;
    // border-spacing: 12px 0;
    margin-bottom: 3%;
}

.article_info_box_item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.article_info_box_item + .article_info_box_item {
  // border-left: 1px solid #CCC;
}

.article_info_box p {
    display: block;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

div#article_test_test {
  width: 100%;
  background-color: #bbb;
}

p.article_list_comment {
  margin-top: 5px;
  font-size: 10px;
  color: #7d7d7d;
  margin-right: 5px;
}

.article_list_comment img {
  width: 17px;
}

p.article_list_likes {
  margin-top: 3px;
  margin-right: 5px;
}

p.article_list_user {
  font-size: 20px;
  vertical-align: center;
  margin-right: 20px;
}
p.article_list_user img {
  width: 40px;
  border-radius: 50%;
  margin-top: 3px;
  border: 2px solid #ccc;
}

.user_box {
    display: table;
    width: 80%;
    height: 50px;
    border-spacing: 0 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user_box_item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  background-color: #ccc;
}

.user_box_item + .user_box_item {
  // border-left: 1px solid #CCC;
}

.user_box p {
    display: block;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.picture_current_user img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-top: 10px;
}

/*記事詳細*/

div#article_show_center{
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 5px 5px 0px 0px #ccc;
}


div#article_show_center  p.article_show_center_category{
    font-size: 13px;
    font-weight: bold;
    color: #7d7d7d;
}

div#article_show_center  p.article_show_center_date{
    font-size: 13px;
    font-weight: bold;
    color: #7d7d7d;
}

div#article_show_center p.article_show_center_title {
  font-size: 60px;
  font-style: bold;
}

div#article_show_center p.article_show_center_header {
  text-align: center;
}

div#article_show_center p.article_show_center_header img {
  width: calc(100% + 40px);
  height: 320px;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
}

div#article_show_left{
    background-color: #ccc;
    margin-right: 20px;
}

div#article_show_right{
    margin-left: 20px;
}

table.article_show_table {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

td.article_show_center {
  width: 64%;
}

td.article_show_left {
  text-align: center;
  width: 150px;
}
td.article_show_right {
  width: 400px;
}


/*ページ内リンクでのアンカーでのずれ防止*/
.markdown_heading {
    display: block;
    padding-top: 75px;
    margin-top: -70px;
}

div#sidebar_article_memo {
  @include box;
  padding: 10px;
  margin-bottom: 10px;
}

div#sidebar_article_toc {
  @include box;
  padding: 10px;
  margin-bottom: 10px;
}

div#sidebar_following_scroll {
  position: sticky;
  top: 70px;
}


p.article_memo {
  border-bottom: solid 1px #ccc;
  padding-left: 15px;
  font-size: 16px;
}

ul.chapter {
  list-style-position: inside;
  padding: 0;
  margin-left: 20px;
}

/*記事コメント*/

div#article_show_comment{
    width: calc(100% - 40px);
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
    border: 2px solid #ccc;
}

div#article_show_comment li.comment_box {
  list-style: none;
}

div#article_show_comment_form{
    width: calc(100% - 40px);
    margin-top: 10px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border: 2px solid #ccc;
}

div#comment_user {
  display: inline-block;
}

p.comment {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
}

textarea.article_comment_form {
  width: calc(95% - 40px);
  height: 90px;
  resize: none;
  outline: none;
  font-size: 20px;
  padding: 20px;
}

a.article_comment_delete {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    background: #f7f7f7;
    font-weight: bold;
    box-shadow: 0px 2px 2px #ccc;
    float: right;
    font-size: 15px;
}

a.article_comment_delete:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

div#article_comment_button {
  background-color: #ccc;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
}


/*記事作成画面*/

div#article_form_wrap {
  background-color: #fff;
  position: relative;
  width: 95%;
  margin: 20px auto;
  top: 50px;
  margin-top: 50px;
}
div#article_form_title {
    text-align: center;
}
div#article_form_github {
    text-align: center;
}
div#article_form_service {
    text-align: center;
}
div#article_form_category {
  margin-top: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

div#editor {
  width: calc(100% - 4px);
  height: 600px;
  @include box;
  margin-top: 20px;
}

div#article_form_body {
}

div#article_preview {
  width: calc(50% - 42px);
  float: right;
  height: 560px;
  padding: 20px;
  background-color: #fff;
  border-left: solid 2px #ccc;
  overflow: scroll;
}



input.article_title {
    width: calc(100% - 44px);
    height: 10px;
    font-size: 15px;
    padding: 20px;
    outline: none;
    @include box;
}

input.article_github {
    width: calc(100% - 44px);
    height: 1px;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    outline: none;
    @include box;
}

input.article_service {
    width:  calc(100% - 44px);
    height: 1px;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    outline: none;
    @include box;
}

textarea.article_body {
  outline: none;
  resize: none;
  float: left;
  width:  calc(50% - 40px);
  height: 560px;
  font-size: 20px;
  padding: 20px;
  border: none;
}



.submit_button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.submit_button {
  width: 200px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.submit_button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


/*ログイン画面*/

div#login {
  width: 300px;
  height: 485.41019662497px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 90px;
  padding: 30px;
  border-top: 20px solid #efbb00;
  border-radius: 5px;
}

p.login_form_title {
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 20px;
}


div#login_form {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    font-size: 14px;
}

@mixin modal_box {
  width: calc(70% + 10px);
  margin: 0 auto;
  border-bottom: 2px solid #ccc;
}

@mixin modal_form {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  border-style: none;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

div#login_form_email {
  @include modal_box;
  margin-top: 35px;
}

div#login_form_password {
  @include modal_box;
}

div#login_form_rememberme {
    width: 100%;
}

div#login_form_actions {
    width: 100%;
}

div#login_form_links {
  text-align: center;
  margin-top: 20px;
}

input.login_form_email {
    @include modal_form
}

input.login_form_password {
  @include modal_form
}

input.login_form_rememberme {
    margin-top: 20px;
    margin-left: 15%;
}

input.login_form_actions {
    height: 100px;
    width: 70%;
    margin: 20px auto;
    height: 40px;
    font-size: 20px;
    display:block;
    color: #333d;
    text-decoration: none;
    background-color: #efbb00;
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: none;
    border-style: none;
}

input.login_form_actions:hover {
  background-color: #ccc;
}

// @media screen and (max-width: 800px) {
//     div#login {
//         width: 90%;
//         height: 600px;
//         background-color: #fff;
//         margin: 20px auto;
//
//         border: 1px solid #4c4e51;
//         box-shadow: 1px 1px 0 rgba(255, 255, 255, .4) inset,
//                         0 0 4px rgba(0, 0, 0, .8) inset,
//                         2px 2px 2px rgba(0, 0, 0, .4);
//     }
//
//     div#login_left {
//         width: 100%;
//         text-align: center;
//     }
//
//     img.login_img {
//         margin-left: 10px;
//         width: 100px;
//         height: 100px;
//     }
//
//     div#login_left h1 {
//         margin: 10px;
//     }
//
//     div#login_left p {
//         margin-left: 30px;
//     }
//
//     div#login_form {
//         width: 100%;
//
//     }
//
//     div#login_form_email {
//         width: 100%;
//         text-align: center;
//     }
//
//     div#login_form_password {
//         width: 100%;
//         text-align: center;
//     }
//
//     div#login_form_rememberme {
//         width: 100%;
//     }
//
//     div#login_form_actions {
//         width: 100%;
//     }
//
//     div#login_form_links {
//         width: 100%;
//         text-align: center;
//     }
//
//     input.login_form_email {
//         width: 70%;
//         height: 35px;
//         margin: 10px auto;
//         font-size: 18px;
//         padding-left: 5px
//     }
//
//     input.login_form_password {
//         width: 70%;
//         height: 35px;
//         margin-top: 20px;
//         font-size: 18px;
//         padding-left: 5px
//     }
//
//     input.login_form_rememberme {
//         margin-top: 20px;
//         margin-left: 15%;
//     }
//
//     input.login_form_actions {
//         height: 100px;
//         width: 70%;
//         margin: 20px auto;
//         height: 35px;
//         font-size: 20px;
//         display:block;
//         color: #FFF;
//         text-decoration: none;
//         background-color: #f39800; /*ボタン色*/
//         border-radius: 5px; /*角丸*/
//         -webkit-transition: all 0.5s;
//         transition: all 0.5s;
//     }
//
//     input.login_form_actions:hover {
//         background-color: #f9c500;
//     }
// }

/*サイドバー*/

div#sidebar{
    width: 25%;
    float: right;
    background-color: #fff;
    border-radius: 5px;
}

p.sidebar_user_name {
  background-color: #fff;
  float: left;
  font-size: 18px;
  margin-top: 4px;
}

div#sidebar_point {
  font-weight:700;
}

p.sidebar_user_name:link {
  color: #000;
}

p.sidebar_follow_count {
  background-color: #fff;
  font-size: 15px;
}

p.sidebar_article_likes_order {
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding-left: 10px;
  padding-top: 10px;
}


p.sidebar_article_likes_order:visited {
  color: #797a7a;
}

.sidebar_article_likes_order img {
  width: 10px;
}

div#sidebar_article_likes_order {
  font-size: 13px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 20px;
}

div#sidebar h2{
    margin: 20px auto;
}

// div#sidebar ul li{
//     list-style-type: none;
// }

div#sidebar ul li a{
    color: #000;
}

div#sidebar ul li a span{
    color: #161616;
}

div#sidebar_articles {
  padding: 20px;
  margin-bottom: 3%;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

div#sidebar_user{
  background-color: #fff;
}

div#sidebar_user_index {
  background-color: #fff;
  @include box;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


div#article_top {
    width: calc(100% -15px);
    height: auto;
    background-color: #fff;
    // margin-left: 10%;
    margin-bottom: 20px;

    border-top: 3px solid #4c4e51;
    border-bottom: 3px solid #4c4e51;
    border-left: 15px solid #4c4e51;
    border-right: 3px solid #4c4e51;
}

div#article_top_category_name {
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

div#article_date {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  background-color: #ccc;
  text-align: center;
}

/*記事カテゴリーボタン*/

.article_category {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #000;
    background: #ECECEC;
    border-radius: 0 7px 7px 0;
    transition: .4s;
  }

/*記事詳細画面右サイドボタン*/
 .left_sidebar_button {
    width: 50px;
    height: 50px;
    line-height: 150px;
    margin: 0 auto;
    font-size: 20px;
    display: block;
    text-align: center;
    background: #FFC107;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0px 1px 10px 0px #333;
    position: sticky;
    top: 90px;
}

.left_sidebar_button img {
  width: 20px;
  height: auto;
  vertical-align: center;
  margin-bottom: 47px;
}

/* 記事のmarkdown表示 */
.highlight {
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-weight: normal;
  font-size: 15px;
}
.highlight pre {
  padding-bottom: 10px;
}
.highlight code, .highlight pre {
background-color:#3f3f3f;
}

.highlight .hll {
background-color:#222;
}

.highlight .err {
background-color:#3d3535;
}
