/*ユーザープロフィール*/

div#user_article_wrap{
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  background-color: #fff;
}

div#user_article_list{
    width: 48%;
    float: left;
    border-radius: 5px;
    margin-right: 1%;
}

div#user_article_list div#user_article_list_bottom {
  height: auto;
  padding: 15px;
  border-bottom: 1px solid #7d7d7d;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

div#user_article_list div h2 {
    font-size: 20px;
    color: #161616;
    text-decoration: none;
}

div#user_article_list div p.user_article_list_date{
    font-size: 12px;
    font-weight: bold;
    color: #7d7d7d;
}

div#user_article_list div p.user_article_list_category {
    font-size: 12px;
    font-weight: bold;
    color: #7d7d7d;
}

div#user_article_list div p.user_article_list_comment {
    font-size: 15px;
    font-weight: bold;
    color: #7d7d7d;
}

div#user_article_list div p.user_article_edit_delete {
    font-size: 13px;
    font-weight: bold;
    margin-left: 87%;
}

div#user_setting_main{
    width: 72%;
    float: left;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
}

div#user_follow {
    width: 100%;
    background-color: #ccc;
}

input.user_follow {
    margin-top: 0px;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #EC407A;
    border: 2px solid #EC407A;
    border-radius: 3px;
    transition: .4s;
    font-size: 15px;
}

input.user_follow:hover {
    background: #EC407A;
    color: #fff;
}

.user_icon img {
  width: 50%;
}

div#user_sidebar{
    width: 23%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 1%;
}

div#sidebar_user_show {
  // padding-left: 3%;
  // padding-right: 3%;
  // padding-top: 3%;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

div#sidebar_user_description {
  text-align: center;
  font-size: 15px;
}

.user_box_show {
    display: table;
    width: 80%;
    height: 50px;
    border-spacing: 0 0;
    background: #FFF;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}



.picture_user_show img {
  width: 70px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-top: 10px;
}

.user_show_follow_count {
  font-size: 20px;
  text-align: center;
}

div#user_sidebar_right{
    width: 26.9%;
    float: right;
    border-radius: 5px;

}

div#user_each_repo {
  width: 100%;
  background-color: #fff;
  margin-bottom: 3%;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 0px 0px #ccc;
}

p.repo_name {
  font-size: 15px;
  padding: 3%;
}

p.repo_description {
  font-size: 15px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

p.user_article_memo {
  background-color: #fff;
  margin-bottom: 3%;
  font-size: 20px;
  padding: 3%;
  font-size: 15px;
}

div#user_setting_sidebar{
    width: 25%;
    float: left;
    background-color: #ccc;
    border-radius: 5px;
}
